<div class="text-center loginscreen">
	<div>
		<div class="row keyboard-inp">
			<div *ngFor="let item of passwordShow" class="col-md-3"><div class="keybaord-inp-item"><i class="fa {{item}}" aria-hidden="true"></i></div></div>
		</div>
		<div class="row">
			<div *ngFor="let item of buttonsList" class="col-md-4"><button [disabled]="passwordFull" (click)="btnClick(item)" type="button" class="keybaord-btn-item btn btn-info btn-outline dim btn-large-dim" [value]="item" [innerHTML]="item"></button></div>
			<div class="col-md-4"><button [disabled]="passwordEmpty" (click)="btnClick('remove')" type="button" class="keybaord-btn-item btn btn-danger dim btn-large-dim"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button></div>
			<div class="col-md-4"><button [disabled]="!passwordFull" (click)="btnClick('enter')" type="button" class="keybaord-btn-item btn btn-primary dim btn-large-dim"><i class="fa fa-sign-in" aria-hidden="true"></i></button></div>
		</div>
		<p class="text-center"><a href="#" (click)="exitSystem($event);">Exit</a></p>
	</div>
</div>